# IntelliJ IDEA
.idea/
*.iml
out/

# Maven / Gradle (Compilados)
target/
build/
.gradle/

# Archivos del sistema
Thumbs.db
.DS_Store

# Node / Frontend (React)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local